* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* app colors here */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: pink;
}

.description {
    padding: 40px;
}

#description-header {
    margin-bottom: 20px;
    font-size: 60px;
}

#description-explanation {
    font-size: 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

#contact {
    text-decoration: none;
    padding-right: 20px;
    font-size: 20px;
}

#contact:hover {
    color: lightskyblue;
}

.flex-container {
    display: flex;
}

#glasses-books {
    height: 60%;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

/* styling the watch list */
.moviesList {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    height: auto;
    font-weight: bold;
    flex-wrap: wrap;
    width: 93%;
}

.deleteTask {
    cursor: pointer;
    width: 25px;
    height: 25px;
    /* makes a circle */
    border-radius: 50%;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
}

.pText {
    text-transform: capitalize;
    padding-left: 3px;
}

.watchList {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.list-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 20px;
}

.userInput {
    width: 75%;
    height: 40px;
    border-radius: 5px;
}

.addListBtn {
    width: 20%;
    height: auto;
    background-color: beige;
    font-weight: bold;
    text-align: center;
}

.inputVal {
    margin-bottom: 10px;
}

.clear-task {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color:beige;
    margin-top: 10px;
    padding-right: 2px;
}

.random-movie-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.generateBtn {
    height: 100px;
    width: 400px;
    font-size: 40px;
    font-size: bold;
    padding: 10px;
    border-radius: 10px;
}

.hide {
    display: none;
}


.movie-suggestion {
    margin: 100px;
}

.movie-suggestion h2 {
    font-size: 40px;
}

#display-suggestion {
    margin-top: 20px;
    font-size: 30px;
    background-color: darkmagenta;
    padding: 10px;
    box-shadow: 0 0 10px 2px black;
    border-radius: 10px;
    color: white;
}

.home {
    display: flex;
    justify-content: center;
}

.home-button {
    height: 100px;
    width: 400px;
    font-size: 40px;
    font-size: bold;
    padding: 10px;
    border-radius: 10px;
    background-color:aquamarine;
}

#movie-poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#movie-description {
    margin: 25px;
}



